h2 {
    color: rgb(194, 99, 1);
    font-size: 32px;
    text-align: right;
   }
hr {
    color: rgb(194, 99, 1);
    background-color: rgb(194, 99, 1);
    height: 1px;
    width: 40%;
    }
h1 {
    verical-align: bottom;
}
h1.answer {
    vertical-align: bottom;
}
th.header {
     vertical-align: bottom;
    }
